In [2]:
import pandas as pd, time, random
from pygooglenews import GoogleNews

KEYWORDS  = "FTSE OR \"Bank of England\" OR inflation"   # etc.
START, END = "2024-01-01", "2025-12-31"
WINDOW     = 7                                           # days

gn = GoogleNews(lang="en", country="GB")
all_frames = []

start_dt = pd.to_datetime(START)
end_dt   = pd.to_datetime(END)

while start_dt <= end_dt:
    stop_dt = min(start_dt + pd.Timedelta(days=WINDOW-1), end_dt)

    feed    = gn.search(KEYWORDS,
                        from_=start_dt.strftime("%Y-%m-%d"),
                        to_  =stop_dt.strftime("%Y-%m-%d"))

    df      = pd.DataFrame(
                 {"date":  [pd.to_datetime(e.published).tz_localize(None)
                             for e in feed["entries"]],
                  "title": [e.title for e in feed["entries"]]}
              )
    all_frames.append(df)

    # polite pause to avoid 429 errors
    time.sleep(random.uniform(1.0, 2.5))
    start_dt = stop_dt + pd.Timedelta(days=1)

news_df = (pd.concat(all_frames, ignore_index=True)
             .drop_duplicates())          # remove overlaps

news_df.head()  # show first few rows

C:\Users\nestor\AppData\Local\Temp\ipykernel_23976\3552013645.py:32: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  news_df = (pd.concat(all_frames, ignore_index=True)

                 date                                              title
0 2024-01-02 08:00:00  FTSE 100 celebrates 40th birthday – but is it ...
1 2024-01-02 08:00:00  Footsie turns 40: FTSE 100’s rise, rise and st...
2 2024-01-04 08:00:00  FTSE 100: 40 years of ups and downs at the top...
3 2024-01-04 08:00:00  FTSE 100 boardrooms show more stability than f...
4 2024-01-04 08:00:00  The FTSE 100 turns 40 – what’s changed and wha...